@model WorksVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Work</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <input asp-for="Works.WorkId" hidden /> @* Hidden Field for WorkId *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Works.WorkName" class="form-control border-0 shadow" />
                    <label asp-for="Works.WorkName" class="ms-2">Work Name</label>
                    <span asp-validation-for="Works.WorkName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="Works.WorkerId" asp-items="@Model.WorkersList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Assignee--</option>
                    </select>
                    <label asp-for="Works.WorkerId" class="ms-2">Assignee</label>
                    <span asp-validation-for="Works.WorkerId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Works.WorkEndDate" class="form-control border-0 shadow" />
                    <label asp-for="Works.WorkEndDate" class="ms-2">Planned End Date</label>
                    <span asp-validation-for="Works.WorkEndDate" class="text-danger"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-6 p-2">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col-6 p-2">
                    <a asp-controller="Works" asp-action="Works" class="btn btn-outline-primary border form-control">Back To Works</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
