@model WorksVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Work</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-3">
                <input asp-for="Works.WorkId" hidden /> @* Hidden Field for WorkId *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Works.WorkName" class="form-control border-0 shadow" />
                    <label asp-for="Works.WorkName" class="ms-2">Work Name</label>
                    <span asp-validation-for="Works.WorkName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="Works.WorkerId" asp-items="@Model.WorkersList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Assignee--</option>
                    </select>
                    <label asp-for="Works.WorkerId" class="ms-2">Assignee</label>
                    <span asp-validation-for="Works.WorkerId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Works.WorkEndDate" class="form-control border-0 shadow" />
                    <label asp-for="Works.WorkEndDate" class="ms-2">Planned End Date</label>
                    <span asp-validation-for="Works.WorkEndDate" class="text-danger"></span>
                </div>
                <div class="border p-3">
                    <h4>Work Items</h4>
                    <div id="workItemsContainer">
                        @if (Model.WorkItems != null && Model.WorkItems.Any())
                        {
                            @for (int i = 0; i < Model.WorkItems.Count(); i++) // Use Count() method here
                            {
                                <div class="form-floating py-2 col-12">
                                    <input type="hidden" asp-for="@Model.WorkItems.ElementAt(i).WorkItemId" />
                                    <input type="hidden" asp-for="@Model.WorkItems.ElementAt(i).ItemName" />
                                    <input type="file" asp-for="File" class="form-control border-0 shadow" />
                                    <label asp-for="File" class="ms-2">Upload File</label>
                                    <a href="#" class="btn btn-danger btn-sm btn-remove-item">Delete</a>
                                </div>
                            }
                        }
                    </div>



                    <button type="button" id="addItemBtn" class="btn btn-primary">Add Item</button>
                </div>
                <div class="py-2 col-12">
                    <label asp-for="Works.Description" class="ms-2 text-muted">Description</label>
                    <textarea asp-for="Works.Description" class="form-control border-0 shadow"></textarea>
                </div>


            </div>
            <div class="row">
                <div class="col-6 p-2">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col-6 p-2">
                    <a asp-controller="Works" asp-action="Works" class="btn btn-outline-primary border form-control">Back To Works</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            let itemIndex = @Model.WorkItems?.Count() ?? 0;

            $("#addItemBtn").click(function () {
                $("#workItemsContainer").append(`
                    <div class="form-floating py-2 col-12">
                        <input type="file" name="Works.WorkItems[${itemIndex}].File" class="form-control border-0 shadow" />
                        <label class="ms-2">Upload File</label>
                        <a href="#" class="btn btn-danger btn-sm btn-remove-item">Delete</a>
                    </div>
                `);
                itemIndex++;
            });

            $(document).on("click", ".btn-remove-item", function (e) {
                e.preventDefault();
                $(this).closest(".form-floating").remove();
            });
        });

    </script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
}
