@model Works

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Work</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div classs="form-floating py-2 col-12">
                    <input asp-for="WorkName" class="form-control border-0 shadow"/>
                    <label asp-for="WorkName" class="ms-2">Work Name</label>
                    <span asp-validation-for="WorkName" class="text-danger"></span>
                </div>
                <div classs="form-floating py-2 col-12">
                    <input asp-for="Assignee" class="form-control border-0 shadow" />
                    <label asp-for="Assignee" class="ms-2">Assignee</label>
                    <span asp-validation-for="Assignee" class="text-danger"></span>
                </div>
                <div classs="form-floating py-2 col-12">
                    <input asp-for="WorkEndDate" class="form-control border-0 shadow" />
                    <label asp-for="WorkEndDate" class="ms-2">Planned End Date</label>
                    <span asp-validation-for="WorkEndDate" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6 p-2">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 p-2">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border form-control">Back To Home</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}