@model IEnumerable<Workers>

@{
    ViewData["Title"] = "Home Page"; 
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <h2 class="teammates-heading">Teammates</h2> 
            <table class="table table-striped table-bordered teammates-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var worker in Model)
                    {
                        <tr>
                            <td>@worker.WorkerName</td>
                            <td>@worker.Title</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <h1 class="welcome-title">Welcome to the Team Portal!</h1>
        </div>
    </div>
</div>



